@import url("https://fonts.googleapis.com/css2?family=League+Gothic:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
}

.gothic-font {
  font-family: "League Gothic", sans-serif !important;
}

.ru-font {
  font-family: "Sofia Sans Condensed", serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}